@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

html {
  display: block;
  background-color: #0e0b1d;
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  text-align: center;
}

section {
  height: calc(100vh);
}

.flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
}

.cycleText {
  font-weight: lighter;
  font-size: 45px;
  font-family: "Space Mono", monospace;
  color: #c0c0c0;
}

.trans {
  color: #a0cc97;
  font-family: "Space Mono", monospace;
}

.imageBox {
  width: 100%;
}

.profile-pic {
  border-radius: 50%;
}

.homeText {
  font-family: "Space Mono", monospace;
  font-size: 30px;
  color: #c0c0c0;
  padding-bottom: 45px;
}

nav.container {
  font-family: "Montserrat", monospace;
  text-align: center;
  width: 100%;
  padding-top: 45px;
}

nav.container a {
  align-content: space-between;
  color: #c0c0c0;
  text-decoration: none;
  padding: 0px 10px;
  position: relative;
  cursor: pointer;
}

nav.brackets a:before,
nav.brackets a:after {
  position: absolute;
  opacity: 0;
  top: 0px;
  transition: all 0.3s;
}
nav.brackets a:before {
  content: "(";
  left: 0px;
  transform: translateX(10px);
}
nav.brackets a:after {
  content: ")";
  right: 0px;
  transform: translateX(-10px);
}
nav.brackets a:hover:before,
nav.brackets a:hover:after {
  opacity: 1;
  transform: translateX(0px);
}
.skills-container {
  display: flex;
  flex-direction: row;
  width: auto;
  background: #2f2561;
  box-shadow: 0px 10px 10px #000000;
  margin-bottom: 50px;
}

.icon {
  margin-top: 20px;
  margin-bottom: 20px;
}

.skillIcon {
  margin: 20px;
}

.aboutHead {
  font-family: "Space Mono", monospace;
  font-size: 30px;
  color: #c0c0c0;
  padding-top: 40px;
  padding-bottom: 40px;
}

.aboutText {
  font-family: "Montserrat", monospace;
  color: #c0c0c0;
  font-size: 25px;
  padding-bottom: 40px
}

.aboutP {
  margin: 0px;
}

.aboutAnchor {
  text-decoration: none;
  color: #be70bb;
}
.head {
  font-family: "Space Mono", monospace;
  font-size: 30px;
  color: #c0c0c0;
  padding-bottom: 30px;
}

.workContainer {
  display: flex;
  flex-direction: row;
  width: auto;
  margin: 20px;
}
.project {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.workAnchor {
  font-family: "Space Mono", monospace;
  font-size: 30px;
  color: #8cc8cf;
  text-decoration: none;
}

.gitAnchor {
  font-family: "Space Mono", monospace;
  font-size: 30px;
  color: #8cc8cf;
  margin: 20px;
  padding-top: 40px;
}

.contactForm{
  display: flex;
  flex-direction: column;
  margin: 40px auto 0 auto;
  min-width: 500px;
}

input {
  background: #2f2561;
  border: 0;
  box-sizing: border-box;
  color: #c0c0c0;
  display: block;
  font-size: 12pt;
  margin: 5px;
  outline: none;
  padding: 10px 15px;
  width: 100%;
}

textarea {
  background: #2f2561;
  border: 0;
  box-sizing: border-box;
  color: #c0c0c0;
  display: block;
  font-size: 12pt;
  margin: 5px;
  outline: none;
  padding: 10px 15px;
  width: 100%;
  min-height: 150px;
}

.button {
  background: transparent;
  color: #c0c0c0;
  cursor: pointer;
  float: right;
  font-size: 12pt;
  margin: 5px 0 0 0;
  outline: 0;
  padding: 10px 30px;
}